/* Example Styles for React Tags*/
div.ReactTags__tags {
  position: relative;
  margin: 0 5px;
}

/* Styles for the input */
div.ReactTags__tagInput {
  width: 200px;
  border-radius: 2px;
  display: inline-block;
}

div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  height: 28px;
  margin: 0;
  font-size: 12px;
  width: 100%;
  outline: none;
  border: none;
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: #eee;
  height: auto;
  font-size: 12px;
  display: inline-block;
  padding: 3px;
  margin: 0 5px;
  cursor: move;
  border-radius: 5px;
}

div.ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 5px;
  cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
  position: absolute;
  z-index: 999;
}

div.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: .05em .01em .5em rgba(0, 0, 0, .2);
  background: white;
  width: 200px;
}

div.ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
}

div.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}

div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: #b7cfe0;
  cursor: pointer;
}

.editor-root {
  display: grid;
  grid-template-rows: 40px 40px 40px auto;
  height: 100%;
  position: relative;

  .title {

    .in-title {
      font-size: 14px;
      height: 40px;
      border: none;
      outline: none;
      box-shadow: none;
    }
  }

  .tags {

  }

  .toolbar {
    margin-left: 5px;

    Button {
      border: none;
      width: 40px;
      height: 40px;
      float: left;
    }

    Button div {
      background-color: #444;
      width: 16px;
      height: 16px;

      &:hover {
        background-color: #000;
      }
    }

    .icon-preview {
      mask: url('../images/preview.svg') no-repeat center;
      mask-size: 16px 16px;
    }

    .icon-book {
      mask: url('../images/book.svg') no-repeat center;
      mask-size: 16px 16px;
    }

    .icon-bold {
      mask: url('../images/bold.svg') no-repeat center;
      mask-size: 16px 16px;
    }

    .icon-italic {
      mask: url('../images/italic.svg') no-repeat center;
      mask-size: 16px 16px;
    }
    .icon-strike {
      mask: url('../images/strike.svg') no-repeat center;
      mask-size: 16px 16px;
    }
    .icon-title {
      mask: url('../images/title.svg') no-repeat center;
      mask-size: 16px 16px;
    }
    .icon-refs {
      mask: url('../images/refs.svg') no-repeat center;
      mask-size: 16px 16px;
    }
    .icon-code {
      mask: url('../images/code.svg') no-repeat center;
      mask-size: 16px 16px;
    }

    .icon-list {
      mask: url('../images/list.svg') no-repeat center;
      mask-size: 16px 16px;
    }
    .icon-list-num {
      mask: url('../images/ul.svg') no-repeat center;
      mask-size: 16px 16px;
    }
    .icon-checkbox {
      mask: url('../images/checkbox.svg') no-repeat center;
      mask-size: 16px 16px;
    }

    .icon-link {
      mask: url('../images/link.svg') no-repeat center;
      mask-size: 16px 16px;
    }
    .icon-line {
      mask: url('../images/line.svg') no-repeat center;
      mask-size: 16px 16px;
    }
  }

  .ReactCodeMirror {
    height: 100%;
  }

  .ReactCodeMirror > div {
    height: calc(100vh - 120px);
  }

  .book {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

.md {
  margin: 5px;

  .page-header {
    color: #fff;
    background: #191818;
    margin: 0;
    padding: 10px 20px;
  }

  .editor-pane {
    position: fixed;
    top: 57px;
    left: 0;
    bottom: 0;
    width: 50%;
    height: auto;
    overflow: auto;
    box-shadow: -10px 2px 6px 10px rgba(0, 0, 0, 0.4);
  }

  .result-pane > div {
    position: fixed;
    top: 57px;
    right: 0;
    left: 50%;
    bottom: 0;
    overflow: auto;
    padding: 10px;
    padding-left: 20px;
    color: #444;
    font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
    font-size: 16px;
    line-height: 1.5em;
  }

  .editor textarea {
    padding: 20px;
  }

  .editor-pane textarea {
    min-height: 500px;
  }

  .markdown-controls {
    position: relative;
    z-index: 5;
    text-align: right;
    color: #fff;
    float: right;
  }

  .markdown-controls form {
    background-color: rgba(39, 40, 34, 0.5);
    margin-right: 20px;
  }

  .markdown-controls legend {
    border-bottom: 0;
    color: #fff;
    font-size: 1.25em;
    margin: 0;
    padding: 10px 0 0 0;
  }

  .CodeMirror {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;

    font-size: 16px;
  }

  pre {
    border: 1px solid #ccc;
  }

  blockquote {
    color: #666;
    margin: 0;
    padding-left: 3em;
    border-left: 0.5em #eee solid;
  }
}

.mask {
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
}