.note-list{
  height: auto;
}
.note-list input[type="checkbox"] {
  display: none;
}

.note-list label {
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  padding: 4px 10px;
  height: 90px;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.note-list label:hover{
  background-color: #1c2237;
}

.note-list input[type="checkbox"]:checked + label {
  background-color: #161d31;
  color: #a9b4d2;
}

.even{
  background-color: #202740;
}

.note-item {

  .title {
    font-size: 14px;
  }
  .summary {
    margin-top: 3px;
    font-size: 12px;
    overflow: hidden;
  }
}