.tag-list {
  height: auto;
  overflow: auto;
  margin-left: 10px;
}

.tag-list input[type="radio"] {
  display: none;
}

.tag-list label {
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  padding: 4px 10px;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.tag-list input[type="radio"]:checked + label {
  background-color: #161d31;
  color: #a9b4d2;
}

.tag-item {
  font-size: 12px;
}