.left {
  width: 100%;
  overflow: auto;
  height: 100%;
  font-size:14px;

  .notebook {

    .icon {
      width: 24px;
      height: 24px;
    }

    .category {
      height: 30px;
      line-height: 30px;
      padding: 0px;
      font-size: 16px;

      img {
        vertical-align: middle;
      }
    }

    .count {
      display: inline;
      margin-left: 10px;
    }
  }
}